<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <ul class="footer-links list-unstyled">
                    <li>
                        <a href="inicio">
                            <img src="../../../assets/imagenes_proyecto/otros/LogoFervor.png" class="logoFooter" alt="Logo Fervor">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12 rectangle my-2"></div>
        </div>

        <div class="contenedorRedes row text-center">
            <div class="col-12 col-md-4 my-2">
                <p>&copy; 2024 Fervor. Todos los derechos reservados.</p>
            </div>

            <div class="col-12 col-md-4 my-2">
                <ul class="footer-links list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>

            <div class="col-12 col-md-4 my-2">
                <ul class="footer-links list-unstyled d-flex justify-content-center justify-content-md-end">
                    <li class="mx-2">
                        <a class="btn btn-outline-dark btn-social btn-blue" href="https://www.twitter.com/" target="_blank">
                            <i class="fab fa-twitter redSocial"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a class="btn btn-outline-dark btn-social btn-blue" href="https://www.facebook.com/" target="_blank">
                            <i class="fab fa-facebook-f redSocial"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a class="btn btn-outline-dark btn-social btn-blue" href="https://www.instagram.com/" target="_blank">
                            <i class="fab fa-instagram redSocial"></i>
                        </a>
                    </li>
                    <li class="mx-2">
                        <a class="btn btn-outline-dark btn-social btn-blue" href="https://www.youtube.com/" target="_blank">
                            <i class="fa-brands fa-youtube redSocial"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>